@page
@model LodSalgsSystemFDF.Pages.LogIn.LogInPageModel
<div class="container mt-5" style="background-color:white">
    <style>
        body {
            height: 100vh;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 80px;
        }

        .form-contrainer {
            margin-top: -400px;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <div class="text-center form-contrainer">
        <div class="center">@Model.Message</div>
        <form method="post">
            <div class="form-group">
                <label asp-for="BrugerNavn" class="col-form-label"></label>
                <div>
                    <input asp-for="BrugerNavn" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-form-label"></label>
                <div>
                    <input asp-for="Password" type="password" />
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-dark">Log in</button>
            </div>
        </form>
    </div>
</div>
