@page
@model LodSalgsSystemFDF.Pages.Børnegrupper.DeleteBørngruppeModel
@{
    ViewData["Title"] = "Delete";
}
<div class="content-container">
<h1 style="margin-top:80px"> </h1>
<h1>Slet en børnegruppe</h1>

<h3 style ="color:red">Er du sikker på at du vil slette denne børnegruppe?</h3>
<div>
    <h4>Børnegruppe</h4>
    <hr />
    <form method="post">
        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Børnegrupper.Børnegruppe_ID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Børnegrupper.Børnegruppe_ID)

            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Børnegrupper.Gruppenavn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Børnegrupper.Gruppenavn)
            </dd>
        </dl>
        <input type="hidden" asp-for="Børnegrupper.Børnegruppe_ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="/Børnegrupper/GetBørnegrupper">Klik Her for at vende tilbage til listen af børnegrupper</a>
    </form>
</div>
</div>
