html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 0px;
    background-color: rgb(137, 207, 240);
    background-blend-mode: hard-light;
    background-image: url(../Billeder/FDF-lejr-apr-22-1.jpg);
    background-size: cover;
    background-position: center;
    color: darkblue;
}
.content-container {
    
    background-color: white;
    padding: 20px; 
    margin: 50px auto; 
    max-width: 1500px;
}

th {
    background-color: #f2f2f2; /* Add background color to the header for better visibility */
    font-size: 12px; /* Adjust the font size of the header */
}
    

td {
    font-size: 12px; /* Adjust the font size of the cells */
}

table {
    border-collapse: collapse;
    width: 100%; /* Set the width of the table as needed */
}

ul {
    font-size: 16px;
    
}

nav {
    background-color: #333; /* Set the background color of your navbar */
    overflow: hidden;
}

nav a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        /*text-decoration: none;*/
        font-size: 16px; /* Adjust the font size as needed */
}

