@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hvilken karakter vil i gerne have til eksamen?</h1>
    <h2>Teori der kan inkluderes i eksamen?</h2>
    <ol>
        <p>
            Abstracts: Inheritance, Polymorphism, Interface
            Error/Exception: Unit Test, Exceptions
            Generics & Collections: Generic metoder
            Functions: Lambda, Predicate, Delegate, LINQ & Events
            Design Patterns: Decorator, Factory, Observer, Adapter &Aacute; Strategy
            Task, Thread & Asynchron: Task, Async, Await
            Database & Entity Framework: EF Database-first, EFCore Code-First, ADONet
            Github: Branches, Pull, Push, Merge.
        </p>
    </ol>
</div>
