@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@* <style>
    /* Add top margin equal to the height of the fixed navbar */
    body {
        margin-top: 100px; /* Adjust the value based on the actual height of your navbar */
    }
</style> *@
<h1 style="margin-top:80px"> </h1>
<div class="text-center">
    <h1 class="display-4">Hvilken karakter vil i gerne have til eksamen?</h1>
    <h2>Teori der kan inkluderes i eksamen?</h2>
    <ol>
        <li>
            Abstracts: Inheritance, Polymorphism, Interface
        </li>
        <li>
            Error/Exception: Unit Test, Exceptions
        </li>
        <li>
            Generics & Collections: Generic metoder
        </li>
        <li>
            Functions: Lambda, Predicate, Delegate, LINQ & Events
        </li>
        <li>
            Design Patterns: Decorator, Factory, Observer, Adapter, Strategy
        </li>
        <li>
            Database & Entity Framework: EF Database-first, EFCore Code-First, ADONet
        </li>
        <li>
            Task, Thread & Asynchron: Task, Async, Await
        </li>
        <li>
            Github: Branches, Pull, Push, Merge.
        </li>
        <li>
            Kan i se det her jeg skriver her? Eugene wtf?!!
        </li>
    </ol>
</div>
